<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Découvrez les meilleures aventures de voyage avec nous. Explorez des destinations uniques et préparez-vous pour des expéditions inoubliables.">
    <meta name="keywords" content="voyage, voyages, voyager, voyages de noël, voyages de vacances, voyages de famille, voyages de travail, voyages de vacances, voyages de noël, voyages de famille, voyages de travail">
    <meta name="author" content="Ghassen Ben Aissa">

    <title>{% block title %}{{ 'Profile'|trans|raw }}-TMA{% endblock %}</title>
    {% block stylesheets %}
        <!-- plugins:css -->
        <link rel="stylesheet" href="{{asset('vendorsProfile/mdi/css/materialdesignicons.min.css')}}">
        <link rel="stylesheet" href="{{asset('vendorsProfile/ti-icons/css/themify-icons.css')}}">
        <link rel="stylesheet" href="{{asset('vendorsProfile/css/vendor.bundle.base.css')}}">
        <link rel="stylesheet" href="{{asset('vendorsProfile/font-awesome/css/font-awesome.min.css')}}">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <link rel="stylesheet" href="{{asset('vendorsProfile/font-awesome/css/font-awesome.min.css')}}" />
        <link rel="stylesheet" href="{{asset('vendorsProfile/bootstrap-datepicker/bootstrap-datepicker.min.css')}}">
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- Layout styles -->
        <link rel="stylesheet" href="{{asset('cssProfile/style.css')}}">
        <!-- End layout styles -->
        <link rel="shortcut icon" href="{{asset('images/favicon-32x32.png')}}" />
    {% endblock %}
    <style>
        .custom-margin-right {
            margin-right: 5px; /* Ajustez la valeur selon vos besoins */
            margin-left: 10px; /* Ajustez la valeur selon vos besoins */
        }

    </style>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
            <a class="navbar-brand brand-logo" href="{{ path('app_home', {'_locale' : langue}) }}"><img src="{{ asset('images/logo33.png') }}" alt="logo" /></a>
            <a class="navbar-brand brand-logo-mini" href="{{ path('app_home', {'_locale' : langue}) }}"><img src="{{ asset('images/apple-touch-icon.png') }}" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile">
                    <a class="nav-link">
                        <div class="nav-profile-img">
                            <img src="{{ asset('logoClient/' ~ photoProfile) }}" alt="image">
                            <span class="availability-status online"></span>
                        </div>
                        <div class="nav-profile-text">
                            <p class="mb-1 text-black">{{ user.nom }} {{ user.prenom }}</p>
                        </div>
                    </a>
                </li>
                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="{{ path('app_blog', {'slug': user.pageNom }) }}">
                        <i class="mdi mdi-web" aria-label="Your site web"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                        <i class="mdi mdi-bell-outline"></i>
                        {% if notifications is not empty %}
                            <span class="count-symbol bg-danger"></span>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-end navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                        <h6 class="p-3 mb-0">{{ 'Notifications'|trans|raw }}</h6>
                        <div class="dropdown-divider"></div>
                        {% if notifications is empty %}
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-success">
                                        <i class="mdi mdi-check"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                    <h6 class="preview-subject font-weight-normal mb-1">{{ 'No notifications'|trans|raw }}</h6>
                                </div>
                            </a>
                        {% else %}
                            {% for notification in notifications %}
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-success">
                                            <img src="{{ asset('logoClient/' ~ notification.photo) }}" alt="image">
                                        </div>
                                    </div>
                                    <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                        <h6 class="preview-subject font-weight-normal mb-1">{{ 'New request'|trans|raw }}</h6>
                                        <p class="text-gray ellipsis mb-0"> From {{ notification.nom }} {{ notification.prenom }}</p>
                                    </div>
                                    <div class="d-flex align-items-center mt-2">
                                        <form action="{{ path('app_respond_to_friend_request', {'requestId': notification.requestId , 'action': 'accept'}) }}" method="post">
                                            <button class="btn btn-sm btn-success rounded-circle mr-3 custom-margin-right" type="submit">
                                                <i class="mdi mdi-check"></i>
                                            </button>
                                        </form>
                                        <form action="{{ path('app_respond_to_friend_request', {'requestId': notification.requestId , 'action': 'decline'}) }}" method="post">
                                            <button class="btn btn-sm btn-danger rounded-circle" type="submit">
                                                <i class="mdi mdi-close"></i>
                                            </button>
                                        </form>
                                    </div>


                                </a>
                                <div class="dropdown-divider"></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item d-none d-lg-block full-screen-link">
                    <a class="nav-link">
                        <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                        <i class="flag-icon {{ app.request.locale == 'en' ? 'flag-icon-gb' : 'flag-icon-fr' }}"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" style="color: black" href="{{ path('change_locale', { 'url': url ,'locale': 'en'} ) }}">
                            <span class="flag-icon flag-icon-gb"></span> English
                        </a>
                        <a class="dropdown-item" style="color: black" href="{{ path('change_locale', {'url': url, 'locale': 'fr'}) }}">
                            <span class="flag-icon flag-icon-fr"></span> Français
                        </a>
                    </div>
                </li>
                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="{{ path('app_logout', {'_locale' : langue}) }}">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_profile', {'_locale' : langue}) }}">
                        <span class="menu-title">{{ 'Profile'|trans|raw }}</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title" style="color: #f85454">{{ 'Settings'|trans|raw }}</span>
                        <i class="menu-arrow"></i>
                        <i class="fa fa-gear menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column ">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_editProfile', {'_locale' : langue}) }}">
                                    <i class="fas fa-user-edit  me-2"></i> {{ 'Edit Profile'|trans|raw }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="{{ path('app_CPassword', {'_locale' : langue}) }}">
                                    <i class="fas fa-key  me-2"></i> {{ 'Change Password'|trans|raw }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_friends', {'_locale' : langue}) }}">
                                    <i class="fas fa-users me-2"></i> {{ 'Friends'|trans|raw }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #f85454" href="{{ path('app_DAccount', {'_locale' : langue}) }}">
                                    <i class="fas fa-user-times  me-2"></i> {{ 'Delete Account'|trans|raw }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-pages" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title">{{ user.pageNom }}</span>
                        <i class="menu-arrow"></i>
                        <i class="fa fa-globe menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-pages">
                        <ul class="nav flex-column ">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_Website', {'_locale' : langue}) }}">
                                    <i class="fas fa-edit me-2"></i> {{ 'Edit Website'|trans|raw }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_Msections', {'_locale' : langue}) }}">
                                    <i class="fas fa-th-large me-2"></i> {{ 'Main Sections'|trans|raw }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_ShowAdventures', {'_locale' : langue}) }}">
                                    <i class="fas fa-mountain me-2"></i> {{ 'Show Adventures'|trans|raw }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_ShowPodcast', {'_locale' : langue}) }}">
                                    <i class="fas fa-podcast me-2"></i> {{ 'Show Podcasts'|trans|raw }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="animate-box" style="padding-bottom: 20px">{{ 'Delete your account'|trans|raw }}</h2>
                                <p>{{ 'All your profile and website data will be permanently deleted.'|trans|raw }}</p>

                                {% for flashMessage in app.flashes('success') %}
                                    <div class="alert alert-success" role="alert">
                                        {{ flashMessage|trans|raw }}
                                    </div>
                                {% endfor %}

                                {{ form_start(delete_form, {'attr': {'id': 'delete-account-form'}}) }}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="button" value="{{ 'Delete this Account'|trans|raw }}" class="btn btn-primary" id="delete-account-button">
                                    </div>
                                </div>
                                {{ form_widget(delete_form._token) }}
                                {{ form_end(delete_form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            {% block body %}

            {% endblock %}

            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">All Rights Reserved &copy; 2024, <span class="chn-text"><img src="{{ asset('images/signature_ghassen.png') }}" style="width: 85px; height: auto;"></span></span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
{% block javascripts %}
    <script>
        document.getElementById('delete-account-button').addEventListener('click', function() {
            Swal.fire({
                title: 'Are you sure?',
                text: "Please note that there is no option to restore the account after deletion!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('delete-account-form').submit();
                }
            })
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{asset('vendorsProfile/js/vendor.bundle.base.js')}}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{{asset('vendorsProfile/chart.js/chart.umd.js')}}"></script>
    <script src="{{asset('vendorsProfile/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{asset('jsProfile/off-canvas.js')}}"></script>
    <script src="{{asset('jsProfile/misc.js')}}"></script>
    <script src="{{asset('jsProfile/settings.js')}}"></script>
    <script src="{{asset('jsProfile/todolist.js')}}"></script>
    <script src="{{asset('jsProfile/jquery.cookie.js')}}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{{asset('jsProfile/dashboard.js')}}"></script>
    <!-- End custom js for this page -->
{% endblock %}
</body>
</html>