<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}TMA-Profile{% endblock %}</title>
    {% block stylesheets %}
        <!-- plugins:css -->
        <link rel="stylesheet" href="{{asset('vendorsProfile/mdi/css/materialdesignicons.min.css')}}">
        <link rel="stylesheet" href="{{asset('vendorsProfile/ti-icons/css/themify-icons.css')}}">
        <link rel="stylesheet" href="{{asset('vendorsProfile/css/vendor.bundle.base.css')}}">
        <link rel="stylesheet" href="{{asset('vendorsProfile/font-awesome/css/font-awesome.min.css')}}">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <link rel="stylesheet" href="{{asset('vendorsProfile/font-awesome/css/font-awesome.min.css')}}" />
        <link rel="stylesheet" href="{{asset('vendorsProfile/bootstrap-datepicker/bootstrap-datepicker.min.css')}}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="..." crossorigin="anonymous" />
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- Layout styles -->
        <link rel="stylesheet" href="{{asset('cssProfile/style.css')}}">
        <!-- End layout styles -->
        <link rel="shortcut icon" href="{{asset('images/favicon-32x32.png')}}" />

        <style>
            .grid-container {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
            }

            .grid-item {
                border: 3px solid #ccc;
                padding: 20px;
                width: calc(33.33% - 40px); /* 33.33% of the container width minus padding */
                box-sizing: border-box;
                text-align: center;
            }

            .grid-item img {
                max-width: 100%;
                height: auto;
            }

            @media (max-width: 768px) {
                .grid-item {
                    width: calc(50% - 40px); /* 50% of the container width minus padding */
                }
            }

            @media (max-width: 480px) {
                .grid-item {
                    width: calc(100% - 40px); /* 100% of the container width minus padding */
                }
            }

            .image-wrapper {
                width: 290px; /* Adjust the width as needed */
                height: 150px; /* Adjust the height as needed */
                overflow: hidden;
                margin: 10px auto; /* Center the image-wrapper horizontally */
                display: flex;
                align-items: center;
                justify-content: center; /* Center the image within the wrapper */
            }

            .image-wrapper img {
                width: 100%;
                height: 100%;
                object-fit: cover; /* Ensure the image covers the entire area */
            }

            .buttons {
                display: flex;
                justify-content: center;
                gap: 10px; /* Espacement entre les boutons */
                margin-top: 10px; /* Espacement au-dessus des boutons */
            }

            .edit-btn, .delete-btn {
                flex: 1; /* Assure que les boutons prennent la même largeur */
                padding: 10px 15px;
                color: white; /* Couleur du texte */
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center; /* Centrer le texte et l'icône */
            }

            .edit-btn {
                background-color: #28a745; /* Couleur de fond verte pour le bouton Edit */
            }

            .delete-btn {
                background-color: #dc3545; /* Couleur de fond rouge pour le bouton Delete */
            }

            .delete-btn:hover, .edit-btn:hover {
                opacity: 0.9; /* Opacité au survol */
            }

        </style>
    {% endblock %}
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
            <a class="navbar-brand brand-logo" href="{{ path('app_home') }}"><img src="{{ asset('images/logo33.png') }}" alt="logo" /></a>
            <a class="navbar-brand brand-logo-mini" href="{{ path('app_home') }}"><img src="{{ asset('images/apple-touch-icon.png') }}" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile">
                    <a class="nav-link">
                        <div class="nav-profile-img">
                            <img src="{{ asset('logoClient/' ~ photoProfile) }}" alt="image">
                            <span class="availability-status online"></span>
                        </div>
                        <div class="nav-profile-text">
                            <p class="mb-1 text-black">{{ user.nom }} {{ user.prenom }}</p>
                        </div>
                    </a>
                </li>
                <li class="nav-item d-none d-lg-block full-screen-link">
                    <a class="nav-link">
                        <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                    </a>
                </li>
                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="{{ path('app_home') }}">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_profile', {'userId': user.id}) }}">
                        <span class="menu-title">Profile</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title">Settings</span>
                        <i class="menu-arrow"></i>
                        <i class="fa fa-gear menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column ">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_editProfile', {'userId': user.id}) }}">
                                    <i class="fas fa-user-edit  me-2"></i> Edit Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_CPassword', {'userId': user.id}) }}">
                                    <i class="fas fa-key  me-2"></i> Change Password
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_DAccount', {'userId': user.id}) }}">
                                    <i class="fas fa-user-times  me-2"></i> Delete Account
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-pages" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title" style="color: #f85454">{{ user.pageNom }}</span>
                        <i class="menu-arrow"></i>
                        <i class="fa fa-globe menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-pages">
                        <ul class="nav flex-column ">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_Website', {'userId': user.id}) }}">
                                    <i class="fas fa-edit me-2"></i> Edit Website
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_Msections', {'userId': user.id}) }}">
                                    <i class="fas fa-th-large me-2"></i> Main Sections
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_ShowAdventures', {'userId': user.id}) }}">
                                    <i class="fas fa-mountain me-2"></i> Show Adventures
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #f85454" href="{{ path('app_ShowPodcast', {'userId': user.id}) }}">
                                    <i class="fas fa-podcast me-2"></i> Show Podcasts
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 15px;">
                                    <h2 class="custom-heading" style="padding-bottom: 15px; margin: 0;">All Podcasts</h2>
                                    <div class="form-group" style="margin: 0;">
                                        <a href="{{ path('app_AddPodcast', {'userId': user.id}) }}" class="btn btn-primary">
                                            <i class="fas fa-plus" style="margin-right: 5px;"></i>Add podcast</a>

                                    </div>
                                </div>
                                {% for flashMessage in app.flashes('error') %}
                                    <div class="alert alert-danger" role="alert">
                                        <span class="emoji">&#9888;</span> <!-- Emoji de danger -->
                                        {{ flashMessage }}
                                    </div>
                                {% endfor %}

                                {% for flashMessage in app.flashes('success') %}
                                    <div class="alert alert-success" role="alert">
                                        <span class="emoji">&#x1F44C;</span> <!-- Emoji de succès -->
                                        {{ flashMessage }}
                                    </div>
                                {% endfor %}
                                <div class="grid-container">
                                    {% for podcast in podcasts %}
                                        <div class="grid-item">
                                            {% set imageFound = false %}
                                            {% for image in images %}
                                                {% if image.getIdPodcast() is not null and podcast.id == image.getIdPodcast().id and not imageFound %}
                                                    <div class="image-wrapper">
                                                        <img src="{{ asset('PodcastClient/' ~ image.nom) }}" alt="{{ podcast.name }}">
                                                    </div>
                                                    {% set imageFound = true %}
                                                {% endif %}
                                            {% endfor %}
                                            <h2>{{ podcast.getName() }}</h2>
                                            <p>Description: {{ podcast.limitedDescription }}</p>
                                            <div class="buttons">
                                                <form action="{{ path('app_EditPodcast', {'PdId': podcast.getId(), 'userId': user.id}) }}" method="get" style="display: inline;">
                                                    <button type="submit" class="edit-btn">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </button>
                                                </form>
                                                <form id="delete-account-form-{{ podcast.getId() }}" action="{{ path('app_DPodcast', {'PdId': podcast.getId(), 'userId': user.id}) }}" method="post" style="display: inline;">
                                                    <button type="button" class="delete-btn" id="delete-account-button-{{ podcast.getId() }}">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </form>
                                            </div>
                                            <!-- Ajoutez d'autres informations d'aventure ici si nécessaire -->
                                        </div>

                                        {% if loop.index % 3 == 0 %}
                                            <div style="flex-basis: 100%; height: 0;"></div> <!-- Force wrap after every 3 items -->
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% block body %}

            {% endblock %}

            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">All Rights Reserved &copy; 2024, <span class="chn-text"> 加斯顿</span></span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.delete-btn').forEach(function(button) {
                button.addEventListener('click', function(event) {
                    event.preventDefault(); // Empêche la soumission par défaut du formulaire
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "Please note that there is no option to restore the adventure after deletion!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            button.closest('form').submit();
                        }
                    });
                });
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{asset('vendorsProfile/js/vendor.bundle.base.js')}}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{{asset('vendorsProfile/chart.js/chart.umd.js')}}"></script>
    <script src="{{asset('vendorsProfile/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{asset('jsProfile/off-canvas.js')}}"></script>
    <script src="{{asset('jsProfile/misc.js')}}"></script>
    <script src="{{asset('jsProfile/settings.js')}}"></script>
    <script src="{{asset('jsProfile/todolist.js')}}"></script>
    <script src="{{asset('jsProfile/jquery.cookie.js')}}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{{asset('jsProfile/dashboard.js')}}"></script>
    <!-- End custom js for this page -->
{% endblock %}
</body>
</html>