<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>{% block title %}{{ user.pageNom }}{% endblock %}</title>
    {% block stylesheets %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset('BlogSite/apple-icon-180x180.png')}}">
    <link href="{{asset('images/favicon-32x32.png')}}" rel="icon">
    <link href="{{asset('BlogSite/main.d8e0d294.css')}}" rel="stylesheet">
    <link href="{{asset('css/blog.css')}}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

</head>

<header style="width: 100%; top: 0; background-color: transparent; z-index: 1000; margin-top: 35px;">
    <div class="container" style="display: flex; justify-content: center;">
        <div class="collapse navbar-collapse" id="navbarNav" style="flex-grow: 0;">
            <ul class="navbar-nav" style="display: flex; justify-content: center; list-style: none; padding: 0;">
                <li class="nav-item" style="margin: 0 10px;">
                    <a class="nav-link" href="#about-me" style=" text-transform: uppercase; font-weight: bold; text-decoration: none;">About Me</a>
                </li>
                {% if adventuresReq|length > 0 %}<li class="nav-item" style="margin: 0 10px;">
                    <a class="nav-link" href="#top-adventures" style=" text-transform: uppercase; font-weight: bold; text-decoration: none;">Top Adventures</a>
                </li> {% endif %}
                {% if adventures|length > 0 %} <li class="nav-item" style="margin: 0 10px;">
                    <a class="nav-link" href="#all-adventures" style=" text-transform: uppercase; font-weight: bold; text-decoration: none;">All Adventures</a>
                </li> {% endif %}
                {% if countries|length > 0 %} <li class="nav-item" style="margin: 0 10px;">
                    <a class="nav-link" href="#countries-visited" style=" text-transform: uppercase; font-weight: bold; text-decoration: none;">Countries Visited</a>
                </li> {% endif %}
                {% if podcasts|length > 0 %} <li class="nav-item" style="margin: 0 10px;">
                    <a class="nav-link" href="#all-podcasts" style=" text-transform: uppercase; font-weight: bold; text-decoration: none;">All Podcasts</a>
                </li> {% endif %}
                <li class="nav-item" style="margin: 0 10px;">
                    <a class="nav-link" href="#social-network" style=" text-transform: uppercase; font-weight: bold; text-decoration: none;">Social Network</a>
                </li>
                <li class="nav-item" style="margin: 0 10px;">
                    <a class="nav-link" href="#contact" style=" text-transform: uppercase; font-weight: bold; text-decoration: none;">Get in Touch</a>
                </li>
            </ul>
        </div>
    </div>
</header>




<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('{{ asset('logoClient/' ~ coverImage) }}')">
</div>
<main class="content-wrapper">
    <header class="white-text-container section-container">
        <div class="text-center">
            <h1>I am {{ user.nom }} {{ user.prenom }}</h1>
            <h2 style="font-size: 40px;">Welcome to <span style="font-family: 'Pacifico', cursive;">{{ user.pageNom }}</span></h2>
        </div>

        {% endblock %}
    </header>

    <!-- Add your site or app content here -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <section id="about-me" class="about-me-section">
                <div class="card about-me-card">
                    <div class="card-block">
                        <h2 style="margin-bottom: 10px">About Me</h2>
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="about-me-image">
                                    <img src="{{ asset('logoClient/' ~ AboutMeImage) }}" class="img-responsive" alt="About Me">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="about-me-description">
                                    <p>{{ AboutMeDescription }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </section>


                {% if adventuresReq|length > 0 %}
                    <section id="top-adventures" class="top-adventures-section">
                        <div class="card recommendations-card">
                            <div class="card-block">
                                <h2 style="margin-bottom: 10px">Top Adventures</h2>
                                <div id="adventures-carousel" class="carousel slide" data-ride="carousel">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        {% set adventures_per_slide = 3 %}
                                        {% set total_adventures = adventuresReq|length %}
                                        {% set total_slides = ((total_adventures / adventures_per_slide) | round(0, 'ceil')) %}
                                        {% for i in 0..total_slides - 1 %}
                                            <div class="item {% if i == 0 %}active{% endif %}">
                                                <div class="row">
                                                    {% for j in 0..adventures_per_slide - 1 %}
                                                        {% set index = i * adventures_per_slide + j %}
                                                        {% if index < total_adventures %}
                                                            {% set adventure = adventuresReq[index] %}
                                                            <div class="col-md-4 mb-4">
                                                                <a href="{{ path('adventure_detail', {'id': adventure.id, 'slug': user.pageNom}) }}" class="adventure-link">
                                                                    <div class="adventure-wrapper All-adventures-card">
                                                                        {% set imageFound = false %}
                                                                        {% for image in images %}
                                                                            {% if image.getIdAventure() is not null and adventure.id == image.getIdAventure().id and not imageFound %}
                                                                                <div class="image-wrapper">
                                                                                    <img src="{{ asset('AdvClient/' ~ image.nom) }}" class="img-responsive" alt="{{ adventure.nom }}">
                                                                                </div>
                                                                                {% set imageFound = true %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                        <h3 class="h5">{{ adventure.nom }}</h3>
                                                                        <p>{{ adventure.getDateDebut|date('F Y') }}</p>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        {% for i in 0..total_slides - 1 %}
                                            <li data-target="#adventures-carousel" data-slide-to="{{ i }}" class="{% if i == 0 %}active{% endif %}"></li>
                                        {% endfor %}
                                    </ol>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#adventures-carousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#adventures-carousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %}



                {% if adventures|length > 0 %}
                    <section id="all-adventures" class="all-adventures-section">
                        <div class="card All-adventures-card">
                            <div class="card-block">
                                <h2 style="margin-bottom: 10px" >All Adventures</h2>
                                <div class="row">
                                    {% set adventure_count = 0 %}
                                    {% for adventure in adventures %}
                                    {% if adventure_count < 9 %}
                                    <div class="col-md-4 mb-4">
                                        <a href="{{ path('adventure_detail', {'id': adventure.id, 'slug': user.pageNom}) }}" class="adventure-link">
                                            <div class="adventure-wrapper All-adventures-card">
                                                {% set imageFound = false %}
                                                {% for image in images %}
                                                    {% if image.getIdAventure() is not null and adventure.id == image.getIdAventure().id and not imageFound %}
                                                        <div class="image-wrapper">
                                                            <img src="{{ asset('AdvClient/' ~ image.nom) }}" class="img-responsive" alt="{{ adventure.nom }}">
                                                        </div>
                                                        {% set imageFound = true %}
                                                    {% endif %}
                                                {% endfor %}
                                                <h3 class="h5">{{ adventure.nom }}</h3>
                                                <p>{{ adventure.getDateDebut|date('F Y') }}</p>
                                            </div>
                                        </a>
                                    </div>
                                    {% set adventure_count = adventure_count + 1 %}
                                    {% if adventure_count % 3 == 0 and adventure_count < 9 %}
                                </div><div class="row">
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="text-center" style="margin-top: 20px;">
                                    <a href="{{ path('all_adventures', {'slug': user.pageNom }) }}" class="btn btn-primary">View All Adventures</a>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %}




                {% if countries|length > 0 %}
                    <section id="countries-visited" class="countries-visited-section">
                        <div class="card All-countries-card">
                            <div class="card-block">
                                <h2 style="margin-bottom: 10px" >Countries Visited</h2>
                                <div class="row">
                                    {% set country_count = 0 %}
                                    {% for country in countries %}
                                    {% if country_count < 9 %}
                                    <div class="col-md-4 mb-4">
                                        <a href="{{ path('country_detail', {'id': country.id, 'slug': user.pageNom}) }}" class="country-link">
                                            <div class="country-wrapper All-countries-card">
                                                {% if country.flag %}
                                                    <div class="flag-wrapper">
                                                        <img src="{{ country.flag }}" class="img-responsive" alt="{{ country.name }}" style="width: 100%; height: auto; object-fit: cover;">
                                                    </div>
                                                {% else %}
                                                    <p>No flag available for {{ country.name }}</p>
                                                {% endif %}
                                                <h3 class="h5">{{ country.name }}</h3>
                                            </div>
                                        </a>
                                    </div>
                                    {% set country_count = country_count + 1 %}
                                    {% if country_count % 3 == 0 and country_count < 9 %}
                                </div><div class="row">
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="text-center" style="margin-top: 20px;">
                                    <a href="{{ path('all_countries', {'slug': user.pageNom }) }}" class="btn btn-primary">View All Countries</a>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %}







                {% if podcasts|length > 0 %}
                    <section id="all-podcasts" class="all-podcasts-section">
                        <div class="card All-podcasts-card">
                            <div class="card-block">
                                <h2 style="margin-bottom: 10px" >All Podcasts</h2>
                                <div class="row">
                                    {% set podcast_count = 0 %}
                                    {% for podcast in podcasts %}
                                    {% if podcast_count < 9 %}
                                    <div class="col-md-4 mb-4">
                                        <a href="{{ path('podcast_detail', {'id': podcast.id, 'slug': user.pageNom}) }}" class="podcast-link">
                                            <div class="podcast-wrapper All-podcasts-card">
                                                {% set imageFound = false %}
                                                {% for image in images %}
                                                    {% if image.getIdPodcast() is not null and podcast.id == image.getIdPodcast().id and not imageFound %}
                                                        <div class="image-wrapper">
                                                            <img src="{{ asset('PodcastClient/' ~ image.nom) }}" class="img-responsive" alt="{{ podcast.name }}">
                                                        </div>
                                                        {% set imageFound = true %}
                                                    {% endif %}
                                                {% endfor %}
                                                <h3 class="h5">{{ podcast.name }}</h3>
                                            </div>
                                        </a>
                                    </div>
                                    {% set podcast_count = podcast_count + 1 %}
                                    {% if podcast_count % 3 == 0 and podcast_count < 9 %}
                                </div><div class="row">
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="text-center" style="margin-top: 20px;">
                                    <a href="{{ path('all_podcasts', {'slug': user.pageNom }) }}" class="btn btn-primary">View All Podcasts</a>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %}





                <section id="social-network" class="social-network-section">
                <div class="card social-card">
                    <div class="card-block">
                        <h2 style="margin-bottom: 10px" >Social Network</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="social-buttons">
                                    <a href="{{ user.twitter }}" title="Twitter">
                            <span class="social-round-icon fa-icon">
                                <i class="fab fa-twitter"></i>
                            </span>
                                        Twitter
                                    </a>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="social-buttons">
                                    <a href="{{ user.facebook }}" title="Facebook">
                            <span class="social-round-icon fa-icon">
                                <i class="fab fa-facebook"></i>
                            </span>
                                        Facebook
                                    </a>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="social-buttons">
                                    <a href="{{ user.instagram }}" title="Instagram">
                            <span class="social-round-icon fa-icon">
                                <i class="fab fa-instagram"></i>
                            </span>
                                        Instagram
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                </section>


                <section id="contact" class="contact-section">
                <div class="card contact-card">
                    <div class="card-block text-center">
                        <h2 style="margin-bottom: 10px" >Get in Touch</h2>
                        <p style="font-size: 20px; margin-bottom: 20px;">
                            Feel free to contact me if you have travel questions, comments, or suggestions! <br>I'll try to get back to you!
                        </p>
                        <a href="mailto:{{user.email}}" class="btn btn-primary">
                         Send Me an Email
                        </a>
                        <div style="margin-top: 20px; text-align: center;">
                            <i class="fa-solid fa-paper-plane" style="font-size: 3em; color: #fd5971;"></i>
                        </div>

                    </div>
                </div>
                </section>


                {% if travelers|length > 0 %}
                    <div class="card travelers-card">
                        <div class="card-block">
                            <h2 style="margin-bottom: 10px">Discover Other Travelers</h2>
                            <div id="travelers-carousel" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    {% set travelers_per_slide = 6 %}
                                    {% set total_travelers = travelers|length %}
                                    {% set total_slides = ((total_travelers / travelers_per_slide) | round(0, 'ceil')) %}
                                    {% for i in 0..total_slides - 1 %}
                                        <div class="item {% if i == 0 %}active{% endif %}">
                                            <div class="row" style="margin-left: 40px; margin-right: 40px">
                                                {% for j in 0..travelers_per_slide - 1 %}
                                                    {% set index = i * travelers_per_slide + j %}
                                                    {% if index < total_travelers %}
                                                        {% set traveler = travelers[index] %}
                                                        <div class="col-md-2">
                                                            <a href="{{ path('app_blog', {'slug': traveler.page }) }}" class="traveler-link" style="text-decoration: none; color: inherit;">
                                                                <div class="traveler-wrapper">
                                                                    <div class="profile-photo-wrapper" style="overflow: hidden; border-radius: 50%; width: 100px; height: 100px; margin: 0 auto 10px;">
                                                                        {% if traveler.profilePhoto %}
                                                                            <img src="{{ asset('logoClient/' ~ traveler.profilePhoto) }}" class="img-responsive" alt="{{ traveler.name }}" style="width: 100%; height: 100%; object-fit: cover;">
                                                                        {% else %}
                                                                            <img src="{{ asset('default-profile.png') }}" class="img-responsive" alt="{{ traveler.name }}" style="width: 100%; height: 100%; object-fit: cover;">
                                                                        {% endif %}
                                                                    </div>
                                                                    <h3 class="h5 text-center traveler-name">{{ traveler.name }}</h3>
                                                                    <p class="text-center traveler-name" style="margin-top: 2px ">
                                                                        {% for i in 1..traveler.star %}
                                                                            <i class="fas fa-star small-stars" style="color: #fd5871"></i>
                                                                        {% endfor %}
                                                                    <p>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    {% for i in 0..total_slides - 1 %}
                                        <li data-target="#travelers-carousel" data-slide-to="{{ i }}" class="{% if i == 0 %}active{% endif %}"></li>
                                    {% endfor %}
                                </ol>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#travelers-carousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#travelers-carousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}





            </div>
        </div>
    </div>

</main>
<footer class="footer-container white-text-container text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>All Rights Reserved &copy; 2024, <span class="chn-text"><img src="{{ asset('images/signature_ghassenBlanc.png') }}" style="width: 85px; height: auto;"></span>.</p>
            </div>
        </div>
    </div>
</footer>

<div id="flash-messages-container" style="display: none;">
    {% for label, messages in app.flashes %}
        <div class="flash-messages" data-label="{{ label }}" data-user-id="{{ user.id }}">
            {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
            {% endfor %}
        </div>
    {% endfor %}
</div>


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        scrollRevelation('.card');
    });

    document.addEventListener('DOMContentLoaded', function () {
        const flashMessages = document.querySelectorAll('.flash-messages');

        flashMessages.forEach(function (flashMessageContainer) {
            const label = flashMessageContainer.getAttribute('data-label');
            const userId = flashMessageContainer.getAttribute('data-user-id');
            const messages = flashMessageContainer.querySelectorAll('.flash-message');

            messages.forEach(function (messageElement) {
                const message = messageElement.textContent;

                // Configure SweetAlert based on the type of message
                let swalOptions = {
                    title: message,
                    showConfirmButton: false,
                    timer: 2000, // Adjust the time as needed
                    customClass: {
                        popup: 'swal-popup-custom', // Custom class for popup
                        title: 'swal-title-custom', // Custom class for title
                        content: 'swal-text-custom', // Custom class for text
                        confirmButton: 'swal-button-custom' // Custom class for confirm button
                    }
                };

                if (label === 'success') {
                    swalOptions.icon = 'success';
                } else if (label === 'info') {
                    swalOptions.icon = 'info';
                } else if (label === 'error') {
                    swalOptions.icon = 'error';
                } else if (label === 'warning') {
                    swalOptions.icon = 'warning';
                    swalOptions.html = message;
                    swalOptions.timer = null; // No auto-dismissal for warnings
                    if (message.includes('send a friend request')) {
                        swalOptions.title = 'Please Note';
                        swalOptions.html = `
                        <p>${message}</p><br>
                        <button onclick="sendFriendRequest(${userId})" class="swal2-confirm swal2-styled">Send a friend request</button>
                        <button onclick="Swal.close()" class="swal2-cancel swal2-styled">Cancel</button>
                    `;
                    } else if (message.includes('Log in to view all published adventures')) {
                        swalOptions.title = 'Please Log In';
                        swalOptions.html = `
                        ${message}<br><br>
                        <button onclick="window.location.href='/login'" class="swal2-confirm swal2-styled">Log In</button>
                        <button onclick="Swal.close()" class="swal2-cancel swal2-styled">Cancel</button>
                    `;
                    }
                }

                // Display SweetAlert
                Swal.fire(swalOptions);
            });
        });
    });

    function sendFriendRequest(userId) {
        // Create a form element
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = `/profile/addFriendRequest2/${userId}`;

        // Include CSRF token if necessary
        const csrfToken = '{{ csrf_token('add_friend_request2') }}'; // Adjust if necessary
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = '_csrf_token';
        input.value = csrfToken;
        form.appendChild(input);

        // Include the previous URL
        const previousUrl = document.createElement('input');
        previousUrl.type = 'hidden';
        previousUrl.name = 'previousUrl';
        previousUrl.value = document.referrer; // Get the previous URL
        form.appendChild(previousUrl);

        // Append form to the body and submit it
        document.body.appendChild(form);
        form.submit();
    }


</script>
<style>
    div:where(.swal2-container) div:where(.swal2-popup) {
        display: none;
        position: relative;
        box-sizing: border-box;
        grid-template-columns: minmax(0, 100%);
        width: 32em;
        max-width: 100%;
        padding: 0 0 1.25em;
        border: none;
        border-radius: 5px;
        background: #fff;
        color: #545454;
        font-family: inherit;
        font-size:1.5rem;
    }
</style>
<script type="text/javascript" src="{{asset('BlogSite/main.bc58148c.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
</body>

</html>